/* Variables */

:root {
  --primary-1: #495e57;
  --primary-2: #f4ce14;
  --secondary-1-warning: #ee9972;
  --secondary-2: #fbdabb;
  --highlight-1: #edefee;
  --highlight-2: #333;
  --white: #fff;
  --black: #000;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --transition-reg: all 0.3s ease;
  --transition-fast: all 0.1s ease;
  --transition-slow: all 0.5s ease;
  --spacing: 0.25rem;
  --padding-x-small: 0.5rem;
  --padding-small: 0.75rem;
  --padding-med: 1rem;
  --padding-large: 2rem;
  --padding-x-large: 3rem;
  --gap-small: 0.5rem;
  --gap-med: 1rem;
  --gap-large: 2rem;
  --radius-small: 0.5rem;
  --radius-large: 1rem;
  --max-content-width: 50em;
  --fixed-width: 620px;
  --width-tablet-lg: 640px;
  --width-tablet-med: 617px;
  --width-phone-med: 340px;
  --width-phone-sm: 320px;
  --width-phone-lg: 450px;
  --ff-primary: "Karla", sans-serif;
  --ff-secondary: "Markazi Text", serif;
  --fw-primary-reg: 400;
  --fw-primary-med: 500;
  --fw-primary-bold: 700;
  --fw-primary-x-bold: 800;
  --fw-secondary-reg: 400;
  --fw-secondary-med: 500;
  --fs-normal: 1em;
  --fs-small: 0.875em;
  --fs-medium: 1.125em;
  --fs-large: 1.25em;
  --fs-subtitle: 2.5em;
  --fs-title: 4em;
}

/* Resets */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-normal);
  line-height: 1.5;
  color: var(--black);
  font-optical-sizing: auto;
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

img {
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

a {
  text-decoration: none;
}

/* Typography */

p,
.paragraph-text {
  max-width: 65ch;
  line-height: 1.5;
  margin-top: var(--padding-small);
  margin-bottom: var(--padding-small);
  font-family: var(--ff-primary);
  font-optical-sizing: auto;
  font-size: var(--fs-normal);
  font-weight: 200;
  font-style: normal;
}

h1,
.display-title {
  font-family: var(--ff-secondary);
  font-optical-sizing: auto;
  font-size: var(--fs-title);
  font-weight: var(--fw-secondary-med);
  font-style: normal;
  line-height: 1.1;
}

h2,
.sub-title {
  font-family: var(--ff-secondary);
  font-optical-sizing: auto;
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-secondary-reg);
  font-style: normal;
}

h3,
.section-title {
  font-family: var(--ff-primary);
  font-optical-sizing: auto;
  font-size: var(--fs-large);
  font-weight: var(--fw-primary-x-bold);
  font-style: normal;
  text-transform: uppercase;
}

h4,
.card-title {
  font-family: var(--ff-primary);
  font-optical-sizing: auto;
  font-size: var(--fs-medium);
  font-weight: 700;
  font-style: normal;
}

h5,
.this-weeks-specials {
  font-weight: var(--fw-primary-x-bold);
  font-style: normal;
}
h6,
.caption-heading {
  font-size: var(--fs-small);
  font-weight: var(--fw-primary-bold);
  font-style: normal;
}

span,
.highlight-text {
  font-weight: var(--fw-primary-med);
}

.lead-text {
  font-size: var(--fs-medium);
  font-weight: var(--fw-primary-med);
  font-style: normal;
}

.text-primary-1 {
  color: var(--primary-1);
}

.text-primary-2 {
  color: var(--primary-2);
}

.text-white {
  color: white;
}

.color-primary-1 {
  background-color: var(--primary-1);
}

.color-primary-2 {
  background-color: var(--primary-2);
}

/* Buttons */

.button {
  display: inline-block;
  font-family: var(--ff-primary);
  font-optical-sizing: auto;
  font-size: var(--fs-large);
  font-weight: var(--fw-primary-bold);
  font-style: normal;
  padding: var(--padding-small) var(--padding-large);
  margin: 0;
  border: none;
  border-radius: var(--radius-large);
  cursor: pointer;
  transition: var(--transition-reg);
}

.button-primary-1 {
  background-color: var(--primary-1);
  color: var(--white);
}

.button-primary-2 {
  background-color: var(--primary-2);
  color: var(--black);
}

.button-secondary-1 {
  background-color: var(--secondary-1-warning);
  color: var(--black);
}

.button-secondary-2 {
  background-color: var(--secondary-2);
  color: var(--black);
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: var(--light-shadow);
}

/* Grid */

.App {
  /* font-size: calc(10px + 2vmin); */
  text-align: left;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "nav" "main" "footer";
  min-height: 100vh;
}

/* Layout */

.wrapper {
  margin: 0 auto;
  min-width: 10rem;
  max-width: 50rem;
  overflow: hidden;
  padding: var(--padding-large) 0;
}

.text-wrapper {
  margin: 0 auto;
  min-width: 20ch;
  max-width: 65ch;
  overflow: hidden;
  padding: var(--padding-large) 0;
}

.flex-row-stretch {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
}
