.section-call-to-action {
  background-color: #495e57;
  color: white;
  margin-bottom: var(--padding-x-large);
}

.section-call-to-action + main {
  margin-top: var(--padding-large);
}

.section-call-to-action h1,
.section-call-to-action h2 {
  margin: 0px;
  padding: 0px;
}

.section-call-to-action h1 {
  line-height: 0.9;
}

.section-call-to-action h2 {
  position: relative;
  top: calc(var(--padding-x-small) * -1);
  color: var(--text-primary-2);
}

.section-call-to-action .lead-text {
  max-width: 14em;
  margin-bottom: var(--padding-small);
}

.section-call-to-action .wrapper {
  overflow: visible;
}

.section-call-to-action .content-grid {
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cta-wrapper__left {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  z-index: 5;
}

.cta-wrapper__right {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  z-index: 1;
}

.hero-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.cta-hero {
  display: block;
  border-radius: var(--radius-large);
  width: auto;
  max-height: 380px;
  object-fit: cover;
  object-position: top center;
}

@media (max-width: 617px) {
  .section-call-to-action {
    margin-bottom: 0;
  }

  .section-call-to-action + main {
    margin-top: 0;
  }

  .section-call-to-action .wrapper {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .section-call-to-action .content-grid {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
  }

  .section-call-to-action .content-grid > * {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  .cta-wrapper__left,
  .lead-text {
    text-align: center;
    margin-inline: auto;
  }

  .cta-wrapper__right,
  .hero-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .hero-wrapper {
    position: relative;
  }

  .cta-hero {
    max-width: var(--breakpoint-tablet-large);
    width: 100%;
    /* max-height: 400px; */
    opacity: 0.2;
    /* aspect-ratio: 1/1; */
    object-fit: cover;
    object-position: bottom center;
    border-radius: 0px;
  }
}
