footer {
    background-color: #495e57;
    color: white;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

footer img {
    display: block;
    width: auto;
    height: auto;
    max-height: 300px;
    object-fit: contain;
}

footer section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: .5em;
    text-align: left;
}