header {
  background-color: #495e57;
  color: white;
  grid-area: header;
}

header h1,
header h2 {
  margin: 0px;
  padding: 0px;
}

header h2 {
  position: relative;
  top: -0.5em;
}

header .karla-lead-text {
  width: 14em;
}

header .container {
  overflow: visible;
}

header .content-grid {
  padding-inline: 1em;
  margin-inline: auto;
  display: grid;
  /* gap: 1em; */
  grid-template-columns: 1fr 1fr;
}

.header-container__left {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  z-index: 5;
}

.header-container__right {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  z-index: 1;
}

.hero-container {
  position: absolute;
  top: 0;
  right: 0;
}

.header-hero {
  display: block;
  border-radius: 16px;
  width: auto;
  max-width: 400px;
  max-height: 400px;
  aspect-ratio: 5/6;
  object-fit: cover;
  object-position: top center;
}

@media (max-width: 617px) {
  header .container {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  header .content-grid {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
  }

  header .content-grid > * {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  .header-container__right,
  .hero-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .hero-container {
    position: relative;
  }

  .header-hero {
    max-width: 640px;
    width: 100%;
    /* max-height: 400px; */
    opacity: 0.2;
    /* aspect-ratio: 1/1; */
    object-fit: cover;
    object-position: bottom center;
    border-radius: 0px;
  }
}
