header {
  background-color: #495e57;
  color: white;
  grid-area: header;
  margin-bottom: var(--padding-x-large);
}

header + main {
  margin-top: var(--padding-large);
}

header h1,
header h2 {
  margin: 0px;
  padding: 0px;
}

header h1 {
  line-height: 0.9;
}

header h2 {
  position: relative;
  top: calc(var(--padding-x-small) * -1);
}

header .lead-text {
  max-width: 14em;
  margin-bottom: var(--padding-small);
}

header .wrapper {
  overflow: visible;
}

header .content-grid {
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-wrapper__left {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  z-index: 5;
}

.header-wrapper__right {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  z-index: 1;
}

.hero-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.header-hero {
  display: block;
  border-radius: var(--radius-large);
  width: auto;
  max-height: 400px;
  aspect-ratio: 0.8;
  object-fit: cover;
  object-position: top center;
}

@media (max-width: 617px) {
  header {
    margin-bottom: 0;
  }

  header + main {
    margin-top: 0;
  }

  header .wrapper {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  header .content-grid {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
  }

  header .content-grid > * {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  .header-wrapper__right,
  .hero-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .hero-wrapper {
    position: relative;
  }

  .header-hero {
    max-width: var(--breakpoint-tablet-large);
    width: 100%;
    /* max-height: 400px; */
    opacity: 0.2;
    /* aspect-ratio: 1/1; */
    object-fit: cover;
    object-position: bottom center;
    border-radius: 0px;
  }
}
