nav {
    background-color: white;
}

.display-flex {
    display: flex;
    justify-content: center;
}

img {
    display: inline-block;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
}

li {
    display: inline;
    margin: 0 10px;
    flex: wrap;
}