.reservation-form {
    margin: 0 auto;
    min-width: 10em;
    max-width: 30em;
    overflow: hidden;
    padding: var(--padding-large) 0;
}

.reservation-form fieldset {
    border: 1px solid var(--primary-1);
    margin: 0;
    padding: var(--padding-large);
    /* border-radius: var(--radius-large); */
}

.reservation-form label {
    display: block;
    margin-bottom: var(--spacing);
}

.reservation-form label span {
    color: var(--secondary-1-warning);
}

.reservation-form input, 
.reservation-form select {
    width: 100%;
    margin-bottom: var(--padding-large);
    padding: var(--padding-med) var(--padding-small);
    font-size: var(--fs-normal);
    font-family: var(--ff-primary);
    font-weight: var(--fw-primary-med);
    border: 1px solid var(--primary-1);
    border-radius: var(--radius-large);
}

.reservation-form button {
    display: block;
    margin-inline: auto;
}

.reservation-form .error {
    color: var(--secondary-1-warning);
    font-size: var(--fs-x-small);
    margin-top: 0;
    padding-top: 0;
    margin-bottom: var(--padding-large);
}

.reservation-form .error-border {
    border: 2px solid var(--secondary-1-warning);
    margin-bottom: 0;
}

@media (max-width: 480px) {
    .reservation-form {
        width: 100vw;
        padding: 0;
    }
    
    .reservation-form fieldset {
        border: none;
        padding: 0 var(--padding-med) var(--padding-large);
    }
}